<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wrong_password</title>
</head>
<body background="static/images/background.jpg">
    <table style="border-collapse:separate; border-spacing:0px 15px;margin: auto" >
        <tr>
            <td><h2>Please check your username or password</h2></td>
        </tr>
        <tr>
            <td><a href=".">go back to log-in</a></td>
        </tr>
    </table>
</body>
</html>